@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@100;400&family=Roboto&display=swap');

@font-face {
    font-family: SpaceGrotesk;
    src: url(SpaceGrotesk-Light.ttf);  
}

@font-face {
    font-family: SpaceGrotesk-bold;
    src: url(SpaceGrotesk-Bold.ttf);
}




html{
    height: 100vh;
    margin: 0%;
}



body{
    background-color: #fff257;
    margin: 0%;

    height: 100%;
    width: 100%;
    color: #efd592;
    font-family: 'Roboto', sans-serif;


}


.navbar{
    height: 100%;
    width: 60px;

    background-color: #33793f;

    position:fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.navbar span{
    color: #fff257;
    font-size: 36px;
    margin: 10px;
}
.nav{
    margin: 0%;
    margin-right: 10px;
    height: 30px;
    width: 30px;
    filter: invert(22%) sepia(9%) saturate(6958%) hue-rotate(111deg) brightness(91%) contrast(84%);
}






.logo{
    height: 40px;
    width: 40px;

    z-index: 5;

    position:fixed;
    top:30px;
    right: 30px;
    
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #33793f;

    border-radius: 50%;
}

.logo span{
   font-size: 24px; 
   color: #fff257
}

.page{
    height: 92%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.holder1, .holder2{
    height: 100%;
    width: 50%;   
    display: flex;
    flex-direction: column;

    
}

.holder1{
    align-items: flex-end;
}

.holder2{
    align-items: flex-start;
}

.card{
    
    height: 600px;

    width: 500px;

    max-width: 1280px;
    background-color: #fff257;
    border: 1px solid #33793f;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px 20px 60px;
   
}



.number_box{
    background-color: #33793f;
    color: #fff257;

    z-index: 2;

   
    width: 150px;
    height: 40px;
   
    transform: translate(255%, -105%);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    letter-spacing: 0.2em;
}

.text{
    height: 100%;
    width: 100%;


    font-family: 'Montserrat', sans-serif;

   

}

.text h1{
    color: #33793f;
    font-size: 36px;

    font-family: 'Montserrat', sans-serif;
  
    margin-bottom: 10px;
}

.rectangle{
    background-color: #33793f;
    color: #fff257;

    border: 1px solid #33793f;

    width: 540px;
    height: 30px;
  
    transform: translate(-3.85%, 0%);
    
    font-size: 14px;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rectangle:hover{
    background-color: #fff257;
    color: #33793f;
    border-color: #33793f;
    cursor: pointer;
}

.rectangle span{
    padding-right: 10px;
    font-size: 18px;
}


.det{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

    height: 100%;
    width: 70%;

    padding: 5%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

h1{
    color: #242d38;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    size: 36px;

    margin: 0%;
    margin-left: 2%;
    margin-right: 2%;

    
}

.text p {
    color: #33793f;

    margin: 0%;
    margin-left: 2%;
    margin-right: 8%;

    font-size: 18px;
}

.smalltext{
    color: #33793f;
    font-family: 'Roboto', sans-serif;
    padding-top: 2%;
    padding-bottom: 5%;
    border-bottom: 1px solid #242d38;
}
.boldtext{
    color: #33793f;
    font-family: 'Roboto', sans-serif;
    height: fit-content;
    font-size: 16px;
}
